<div class="center jumbotron">
  <h1>Welcome to the Shuzz App</h1>

  <h2>
    This is the home page for the
    <a href="http://ivanyapeter.github.io/">Ivan Yapeter's Portfolio</a>
    Shuzz application.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("iy-logo-github.png", alt: "Ivan Yapeter logo"), 'http://ivanyapeter.github.io/' %>
