<footer class="footer">
  <small>
    The <a href="http://ivanyapeter.github.io">Ivan Yapeter's Portfolio</a>
    by <a href="http://www.github.com/ivanyapeter">Github</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://blog.ivanyapeter.github.io/">Blog</a></li>
    </ul>
  </nav>
</footer>
